h2{
    text-align: center;
    font-weight: bold;
}

.container-article {
    background-color: rgb(254 247 226); 
    padding: 1em;
    border-radius: 30px;
}

.container-article img {
    width: 100%;

}

.container-article h3 {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 1200px){
    .container-article{
        display: flex;
        flex-direction: row-reverse;
    }

   .text-article {
        padding: 0 1em;
    }
}