/* MOBILE */

header{
    margin: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(241, 234, 168); 
    border-radius: 35px;
    justify-content: space-evenly;
    padding: 0;
}

header li {
    list-style-type: none;
    background-color: rgb(226, 214, 109);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(122, 65, 19);
    font-weight: bold;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    margin: 0.5em;
    text-align: center;
    font-size: 10px;
}

header li img {
    width: 38px;
    text-align: left;
    padding-right:15px;
}


.shop{
    display: flex;
    padding: 2em 1;
    align-items: center;
    border-radius: 50px;
    flex-wrap: nowrap;
    font-size: 2em
}

/* TABLET */
 
@media screen and (min-width: 576px){
    header li img {
        width: 38px;
        padding-right:15px;
    }

    header ul {
        flex-wrap: nowrap;
    }

    header li {
        
        padding: 0.5em 2.5em;
        
        margin: 0.5em;

        font-size: 10px;
    }

    .shop{
        order:;
        padding: 0 2em;
        align-items: center;
    
        flex-wrap: nowrap;
    }

    header ul:nth-child(3){
        order:3;
    }
    
    header ul:nth-child(4){
        order:4;
    }
}