/* MOBILE */

header{
    margin: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(254 247 226); 
    border-radius: 85px;
    justify-content: space-evenly;
    padding: 0 ;
    padding-bottom: 1em;

}

header li {
    list-style-type: none;
    background-color: rgb(255 223 127);
    font-weight: bold;
    padding: 15px 31px;
    border-radius: 30px;
    margin: 0.5em;
    text-align: center;
    font-size: 10px;
    margin-bottom: 1em;
}

header li img {
    width: 47px;
    text-align: left;
    padding-right:15px;
}


.shop{
    display: flex;
    padding: 0 69px;
    align-items: center;
    border-radius: 50px;
    flex-wrap: nowrap;
    font-size: 2em
}

/* TABLET */
 
@media screen and (min-width: 576px){
    header li img {
        width: 38px;
        padding-right:15px;
    }

    header ul {
        flex-wrap: nowrap;
    }

    header li {
        
        padding: 0.5em 2.5em;
        
        margin: 0.5em;

        font-size: 10px;
    }

    .shop{
        
        padding: 0 2em;
        align-items: center;
    
        flex-wrap: nowrap;
    }

    header ul:nth-child(3){
        order:3;
    }
    
    header ul:nth-child(4){
        order:4;
    }
}